
.jumbotron {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.input-group {
  width: 40%;
  min-width: 90px;
  max-width: 120px;
}

.remove-holder {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 575.98px) {
  .image-holder {
    display: flex;
    justify-content: center;
  }
}