
.product-image {
  display: flex;
  justify-content: center;
}

.card-columns {
  margin-top: 16px;
}

.card-img-top {
  max-width: 100%;
}

.input-group {
  width: 40%;
  min-width: 90px;
}

.lower-buttons {
  margin-top: 16px;
}

@media (min-width: 419.98px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 575.98px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 767.98px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 991.98px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1199.98px) {
  .card-columns {
    column-count: 5;
  }
}