body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.badge {
  margin-left: 8px;
  height: max-content;
}

.price {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
